@charset "UTF-8";

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

img.prod {
    height: 100px;
    width: 100px;
}

h2.envio {
    margin-top: 5rem;
}

#costoFinal {
    font-size: 100px;
}

#costoTotal-txt {
    font-size: 20px;
}

#costo-total {
    font-size: 25px;
}

